# NAIVE BAYES

In [11]:
# On importe les librairies
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB,MultinomialNB,CategoricalNB

In [12]:
# On importe le dataset
f="/content/S_W_10f.csv"
dataset = pd.read_csv(f)
dataset.head()

  Sleep_Stage  Spectral Edge_Beta_F4  ...  MedianF_Beta_C4  MeanF_Alpha_C4
0           W               33.84195  ...         19.98049        19.35610
1           W               29.34634  ...         17.35805        17.73268
2           W               28.22244  ...         17.60780        18.10732
3           W               28.72195  ...         18.85659        18.35707
4           W               28.09756  ...         17.35805        17.73268

[5 rows x 11 columns]

In [13]:
# On sépare notre dataframe en deux les inputs et les targets ( survived )
X = dataset.drop('Sleep_Stage',axis='columns')
Y = dataset.Sleep_Stage

In [14]:
# Identifier les colonnes ou il manque des données
X.columns[X.isna().any()]

Index([], dtype='object')

In [15]:
X.describe()

       Spectral Edge_Beta_F4  MedianF_Beta_F4  ...  MedianF_Beta_C4  MeanF_Alpha_C4
count          108451.000000    108451.000000  ...    108451.000000   108451.000000
mean               29.446835        17.282671  ...        18.117411       15.954028
std                14.190779        14.226341  ...        15.013023        4.998135
min                13.361950         6.243900  ...         6.993170        0.874150
25%                22.727800        12.612680  ...        12.987320       14.111220
50%                25.350240        14.485850  ...        14.485850       15.235120
75%                31.344390        17.108290  ...        16.983410       16.608780
max               127.875120       127.875120  ...       127.875120      127.875120

[8 rows x 10 columns]

In [16]:
X.fillna(X.mean(), inplace=True)
X.describe()

       Spectral Edge_Beta_F4  MedianF_Beta_F4  ...  MedianF_Beta_C4  MeanF_Alpha_C4
count          108451.000000    108451.000000  ...    108451.000000   108451.000000
mean               29.446835        17.282671  ...        18.117411       15.954028
std                14.190779        14.226341  ...        15.013023        4.998135
min                13.361950         6.243900  ...         6.993170        0.874150
25%                22.727800        12.612680  ...        12.987320       14.111220
50%                25.350240        14.485850  ...        14.485850       15.235120
75%                31.344390        17.108290  ...        16.983410       16.608780
max               127.875120       127.875120  ...       127.875120      127.875120

[8 rows x 10 columns]

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.2)

In [18]:
model = CategoricalNB()

In [19]:
model.fit(X_train,y_train)

CategoricalNB()

In [20]:

print(f)
print(model.score(X_train,y_train))

/content/S_W_10f.csv
0.8134508990318119